body    {
    font-family: 'Caveat', cursive;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width:100%;
    }

.body-image {
    background-image: url('images/eskdale_2.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.page-header {
    
    padding-top: 100px;
    padding-left: 30px;
    color: white
}

.photogallery {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


.map-container {
    background-color: none;
    padding: 50px;
}


.footer-row {
    background-color: rgb(83, 5, 5);
    color: #FFFFFF;
    display: flex;
    font-size: small;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    
    left: 0;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    width: 100%;
    }