/* Fonts */
/* body {
    font-family: 'Caveat', cursive;
    font-family: 'Roboto', sans-serif;
} */

.map-container {
    background-color: #FFFFFF;
    padding-left: 50px;
    position: center;
}


.footer-row {
    background-color: rgb(83, 5, 5);
    color: #FFFFFF;
    display: flex;
    font-size: small;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    
    left: 0;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    width: 100%;
    }